<html>
    <head>
        <title>Ziplistic Chat App</title>
 		<link href="/stylesheets/style.css" rel="stylesheet" />
     </head>
    <body>
        
       



<div class="container"> 
<h1> Ziplistic Chat App Login</h1>
    <div class="chat">   
       <a href="/auth/facebook">
           <img width="200px" src="https://scontent-sit4-1.xx.fbcdn.net/v/t39.2365-6/16344632_403881753293914_7761668832074137600_n.png?oh=217350fa6eeebc1fb07013b037d135f4&oe=596F06ED">
       </a>
      
    </div> <!-- end chat --> 
  

 

 </div>     
 

    </body>
</html>